.play-block {
  position: relative;
  /* top: 0;
  left: 0;
  z-index: 0; */
  /* height: 60vh; */
  margin-bottom: -150px;
}
.play-block__image-container {
  width: auto;
  height: 120vh;
}
.play-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play-block__inner {
}

.play-block__details-container {
  position: absolute;
  top: 30vh;
  left: 8%;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.play-block__details-subtitle {
  font-size: 1.4em;
}
.play-block__details-title {
  font-size: 3em;
  font-weight: 600;
  max-width: 50vw;
}
.play-block__details-button {
  margin-top: 1rem;
  width: fit-content;
  padding: 0.8rem 1.1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #5e39f0;
  color: white;
  border: none;
}

.play-block__gradient-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 10, 25, 1) 0%, rgba(6, 10, 25, 0.1516981792717087) 25%, rgba(6, 10, 25, 0) 51%, rgba(6, 10, 25, 0.15) 75%, rgba(6, 10, 25, 1) 100%);
}

.play-block:before,
.play-block:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
}
.play-block:before {
  height: 600px;
  background: linear-gradient(180deg, rgba(6, 10, 25, 1) 0%, rgba(6, 10, 25, 0) 60%);
  top: 0;
}
.play-block:after {
  height: 700px;
  background: linear-gradient(180deg, rgba(6, 10, 25, 0) 10%, rgba(6, 10, 25, 1) 100%);
  bottom: 0;
}
