.movie-card__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.729);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.4em;
}
.movie-card__category {
  font-size: 0.9em;
}
.movie-card__title {
  font-size: 1.3em;
  font-weight: 600;
}
.movie-card__episodes {
  font-size: 0.9em;
}
.movie-card__play {
  margin-top: 1rem;
  font-size: 2.5rem;
  color: white;
}
