@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

.body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.main {
  background-color: #060a19;
}

.prueba_image {
  width: 100%;
}

@media (max-width: 992px) {
  .footer-logo {
    width: 23%;
  }
}
