.portada-anime-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.portada-anime-presentacion {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 0.75rem;
  box-shadow: 0 0 1px 0 #ffffffd2;
}

.portada-anime__text-title {
  font-size: 1.25rem;
  text-decoration: underline;
}

.portada-anime__text-paragraph {
  font-size: 0.85rem;
}

.portada-anime__image {
  width: 16rem;
  border: 2px solid white;
}

.portada-anime__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  text-align: center;
}

.episodes-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}

.episodios-title {
  margin: 1rem;
  font-size: 1.25rem;
}

.episodes-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
  column-gap: 3rem;
  align-items: center;
  border-bottom: 1px solid;
  padding: 1.25rem;
  /* margin-top: 2rem; */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-episode {
  width: 190;
  height: 120px;
  border-radius: 25px;
}

.play {
  position: absolute;
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none;
}

.play::before {
  content: "";
  position: absolute;
  border: 25px solid #ffffffce;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  pointer-events: none;
}

.sysnopsis-text {
  font-size: 13px;
  width: 80vw;
  text-align: justify;
}

@media (min-width: 760px) {
  .portada-anime-container {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .portada-anime-presentacion {
    flex-direction: row;
    padding: 1rem 2.5rem;
    box-shadow: none;
  }

  .portada-anime__image {
    width: 22rem;
    margin: 0 1.25rem;
  }
  .portada-anime__text-title {
    font-size: 2.15rem;
  }
  .portada-anime__text-paragraph {
    font-size: 1.25rem;
  }

  .portada-anime__text-container {
    gap: 1.5rem;
    text-align: center;
    width: 40rem;
    padding: 0.75rem;
  }
  /* 
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
*/
  .episodes-container {
    width: 1200px;
  }

  .episodios-title {
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  .episodes-list {
    flex-direction: row;
    gap: 1rem;
  }

  .image-episode {
    width: 260px;
    height: 140px;
  }

  .image-episode:hover {
    transform: scale(1.1, 1.1);
  }

  .sysnopsis-text {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
}

.anime-section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}
.anime__image-container {
  min-height: 40vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.anime__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.anime__background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.anime__details {
  z-index: 200;
  position: relative;
  width: min(90%, 1250px);
  margin: 0 auto;
  padding: 8rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.anime__details-title {
  max-width: 600px;
  line-height: 1.2em;
  font-size: 1.8em;
  font-weight: 600;
}
.anime__details-info {
  line-height: 1.4em;
  font-size: 1.1em;
  color: #ffffffbc;
  max-width: 500px;
}

@media (min-width: 768px) {
  .anime__details-title {
    font-size: 2.2em;
  }
  .anime__image-container {
    height: 150vh;
  }
}
