:root {
  --main-cta-purple: #5e39f0;
  --main-cta-purple-hover: #4c2fc0;
  --lighter-bg-color: #0b1437;
  --btn-transition: all 0.5s;
  --main-white: white;
  --round-border: 50px;
  --main-letter-spacing: -0.15rem;
}

.hero__cta-button {
  text-align: center;
  color: var(--main-white);
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--main-cta-purple);
  padding: 0.5rem 1rem;
  border-radius: var(--round-border);
  transition: var(--btn-transition);
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
}

.hero__cta-button:hover {
  background-color: var(--main-cta-purple-hover);
  color: inherit;
}

@media (min-width: 1200px) {
  .hero__cta-button {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
  }
}
