.carousel {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 800px;
  min-width: 300px;
}

.carousel__title-photos {
  font-weight: bold;
  font-family: "sofia_prosemi_bold", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.carousel__phrase {
  font-size: 18px;
  font-weight: lighter;
}

.slide__title {
  color: var(--primary-white);
}

.slide__paragraph {
  color: var(--primary-white);
  font-family: "sofia_prosemi_bold", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}
