.discover {
  width: min(90%, 1250px);
  margin: 0 auto;
  padding: 0 1rem;
}
.discover-container {
  padding: 5rem 0;
}
.discover__subtitle {
  font-size: 1.2em;
  text-align: center;
  color: lightgrey;
  margin-bottom: 15px;
}

.discover__title {
  font-size: 2.2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.discover__text {
  font-size: 1em;
  text-align: center;
  line-height: 26px;
  max-width: 600px;
  margin: 0 auto 50px;
}

.discover__button {
  padding-bottom: 80px;
  width: 100%;
  text-align: center;
}

.discover__juego {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}

@media (min-width: 860px) {
  .discover__title {
    font-size: 45px;
  }
  .discover__text {
    font-size: 18px;
  }
}
