 :root {
  --faq-section-bg: transparent;
 }
 
.faq,
.faq_section {
  line-height: 1.5;
  margin: 1.8rem 0 0;
}

.faq {
  position: relative;
  color: var(--text-color);
}

.faq_section {
  padding: 0.7rem 1rem 0;
  justify-content: center;
}

.faq_div {
  line-height: 1.5;
  margin: 2rem 0;
}

.faq-title-container {
  text-align: center;
}

.faq-title {
  margin-bottom: 1rem;
  line-height: 1.1em;
  font-weight: 700;
  font-size: 3em;
  margin-bottom:4rem;
}

.accordion {
  width: min(900px, 90%);
  margin: 2rem auto;
}

#accordionItem {
  background: none;
  margin: 0 0 1.8rem 0;
}

#button {
  background: var(--faq-section-bg);
  color: var(--text-color);
  margin: 0 0 0.063rem;
  width: 100%;
  border: 0;
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.534);
  font-weight: 400;
  padding:1.8rem 0.5rem 1.5rem 0.5rem;
  font-size: 0.9em;
  font-weight: 400;

}
.bold {
 font-weight: 700;
}
.accordion-button:focus{
    box-shadow:none !important;
}
.accordion-header {
  margin: 0 0 0.063rem;
}

#collapseOne,
#collapseTwo,
#collapseThree,
#collapseFour,
#collapseFive,
#collapseSix {
  padding: 1.5rem 0;
  border: 1px 0 solid var(--backgroud-color);
  transition: 0.41s ease-in-out;
  background-color: var(--faq-section-bg);
  color: var(--text-color);
  max-height: 75rem;
}

.accordion-body {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 0.5rem;
line-height: 1.7em;
  text-align: start;

}
/* arrow up */
.accordion-button::after {
    background-image: url("./../../assets/Faq/arrow-up.svg")!important;   
}
/* arrow down */
.accordion-button:not(.collapsed)::after {
    background-image: url("./../../assets/Faq/arrow-down.svg");
} 