.form-container-all,
.form-message,
.form-input-container,
.form__buttons .button-register-container,
.other_enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container-all {
  width: 100%;
  height: 100vh;
  gap: 1.5rem;
}

.form-message {
  gap: 1rem;
  text-align: center;
  padding: 0 0.8rem;
}

.form-message-title {
  font-size: 2.3rem;
}

.form-message-subtitle {
  font-size: 0.9rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-input-container,
.button-register-container {
  gap: 1rem;
}

.form-input {
  width: 20rem;
  border-color: #728fff;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.5rem;
  color: white;
}

.button-option {
  width: 15rem;
  border-radius: 1.3rem;
  background-color: #5e39f0;
  color: white;
  padding: 0.75rem 0;
  border: none;
  font-weight: 600;
}

.form__buttons {
  text-align: center;
  gap: 0.5rem;
}

.button-info-register {
  background-color: transparent;
  border: 1px solid #5e39f0;
  border-radius: 1.3rem;
  width: 15rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.other-option,
.forgot-passoword-register {
  font-size: 0.9rem;
  text-decoration: underline;
}
.other_enlaces {
  padding: 1rem;
  text-align: center;
  gap: 1rem;
}

.error-form-container {
  background-color: #fdb1b1;
  text-align: center;
  width: 20rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}
.error-form-message {
  color: #ba002e;
  font-style: italic;
  font-size: 0.9rem;
  text-decoration: underline;
}
