.main {
  overflow-x: hidden;
}
.subscribe-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(6, 10, 25, 0.3), rgba(6, 10, 25, 0.3)), linear-gradient(359.22deg, #060a19 0.64%, rgba(11, 20, 55, 0.48) 31.6%, rgba(6, 10, 25, 0.42) 62.45%, #060a19 94.66%), url("../../../public/images/background-anime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
}
.subscribe-text__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subscribe__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.6em;
  text-align: center;
  font-weight: 500;
}
.subscribe__detail {
  text-align: center;
}
.subscribe-email__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.subscribe-input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.subscribe-input_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.input-icon {
  font-size: 2.8em;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.subscribe-button {
  width: fit-content;
  background: #5e39f0;
  color: inherit;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s;
  font-size: 1.2em;
  font-weight: 500;
}
.subscribe-button:hover {
  background-color: #482db4;
}
.subscribe__text-bold {
  font-weight: 700;
}
@media (min-width: 863px) {
  .subscribe-container {
    height: 100vh;
  }
  .subscribe-form {
    transform: scale(1.2);
    margin-top: 2rem;
  }
  .subscribe__title {
    font-size: 2.4em;
  }
  .subscribe__detail {
    font-size: 1.4em;
  }
}
@media (max-width: 863px) {
  .subscribe__title {
    line-height: 1.2em;
    font-size: 1.6em;
  }
}
